body {
    background-image: url("../image/fundo.jpg");
    background-size: unset;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mp {
    width: 100%;
}

.mp ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: rgba(70, 0, 130, 0.5);
    width: 100%;
    box-shadow: 1px 3px 3px rgba(127, 255, 212, .3);
}

.mp ul li {
    display: inline;
    position: relative;
}

.mp ul li a {
    color: rgba(0, 206, 209, alpha);
    text-decoration: none;
    font-weight: 800;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
    font-size: 25px;
    padding: 20px;
    display: inline-block;
    transition: background .2s;
    border-radius: 20px 20px 20px 20px;
}

.mp ul li a:hover {
    background-color: rgb(127, 255, 212);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
    border-radius: 20px 20px 20px 20px;
}

.mp ul ul {
    display: none;
    position: absolute;
    transition: all .5s;
}

.mp ul li:hover ul {
    display: block;
    border-radius: 0px 0px 20px 20px;
}

.mp ul ul {
    width: 220px;
    text-align: center;
}

.mp ul ul li a {
    display: block;
    border-radius: 20px 20px 20px 20px;
}